html {
    background-color: #000000;
}

body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 485px;
}

header {
    background-color: #ffffff;
}
 
h1 {
    color: #007d7b;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
}

ul {
    list-style: none;
    overflow: hidden;
}

li {
   list-style: none;
   display: inline-block;
   margin: 10px;
   text-transform: uppercase;
}

nav h2 {
    visibility: hidden;
    height: 0px;
}
nav a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    margin: .2em;
}

main {
    background-color: #ffffff;
}

h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin: .5em;
}

p {
    font-size: 1.25em;
    margin: .2em;
    padding: .5em;
}

figcaption, label, input, small {
    font-size: 1em;
}

[href="#top"] {
    position:fixed;
    bottom: 0px;
    right: 0px;
}

#contact {
    background-color: #000000;
    color:#ffffff;
}

footer {
    color: #ffffff;
    text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #007d7b;
    border: #ffffff;
    padding: 5px 70px;
    margin: 20px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}

::placeholder {
    color: #007d7b;
    font-weight: bold;
    text-transform: uppercase;
}

label {
    float:left;
    width: 10em;
    margin-right: 1em;
    text-transform: uppercase;
}