html {
    background-color: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: #ffffff;
    display:grid;
    width: 485px;
}

header {
    color: #007d7b;
    text-transform: uppercase;
    background-color: #ffffff;
}